body{
    background: #F3F5FC;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.caja1 {
    flex-basis: 20%;
    text-align: center;
    background: grey;
    margin-top: 40px;
}
.caja2{
    padding: 20px;
    display: flex;
    flex-basis:100%;
    flex-direction: column;
    margin-top: 120px;
    width: auto;
    background: grey;
}
.caja2 input{
    border: none;
    background: transparent;
    width: 100%;
    color: #0A3871;
    text-align: left;
    font-size: 32px;
}
.caja3
{
    display: flex;
    margin-top: 40px;
    background: white;
    flex-basis: 40%;
    width: auto;
    height: 100%;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
}

p{
    margin: 50px;
}


.caja2-button{
    display: flex;
    flex-direction: row;
}

button{
    width: 328px;
    height: 67px;
    border: 1px;
    border-color: #0A3871;
    border-radius: 27px;
    border: 2px;
    margin: 25px;
}
button:hover{
    background: #0A3871;
    color: white;
}