body{
    background: #F3F5FC;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.caja1 {
flex-basis: 20%;
    background: grey;
    margin-top: 40px;
}
.container .caja2{
    margin-top: 150px;
    flex-basis: 40%;
    background: grey;
}
.caja2 input{
    border: none;
    width: auto;
    font-size: 32px;
}
.caja3
{
    margin-top: 40px;
    background: white;
    flex-basis: 40%;
    width: auto;
    height: 100%;
    display: inline-block;
    border: 10px;
}